body {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "sidebar-left main sidebar-right"
    "footer footer footer";
  grid-template-columns: 20% 1fr 15%;
  grid-template-rows: 100px 70px 1fr 95px;
  gap: 3px;
  margin: 0;
  height: 100vh;
}

#header {
  grid-area: header;
}

#nav {
  grid-area: nav;
}
#sidebar-left {
  grid-area: sidebar-left;
}
#main-content {
  grid-area: main;
}
#sidebar-right {
  grid-area: sidebar-right;
}
#footer {
  grid-area: footer;
}
